@model IEnumerable<Domain.Messageboard>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Match.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Player.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompetetionId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Match.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Player.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompetetionId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MessageboardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MessageboardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MessageboardId })
        </td>
    </tr>
}

</table>
