@model IEnumerable<Domain.Competition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Player.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Spots)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Player.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Spots)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Referee)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompetitionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompetitionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompetitionId })
        </td>
    </tr>
}

</table>
