@model Domain.Calender

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calender</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Competition.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Competition.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Match.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Match.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CalenderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
